<section class="new-post-section">
    <button  type='submit' class="btn" id="create-new-post"> <a href="/dashboard/new">+ Create new post</a></button>
    
</section>


{{!-- {{#if posts}} --}}
<section>
    <h2>Your Dashboard</h2>
    <ul class="post-list">

        {{#each posts as |post|}}
        <li>
           <h1> {{post.title}} </h1>
            <br>
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">edit post</a>
        </li>
        <h1>{{post.content}}</h1>
        {{/each}}
    </ul>
</section>
{{!-- {{/if}} --}}

<script src="/js/create-post.js"></script>